extends layout 

block content
    #content.site-content
        #primary.content-area.column.full
            main#main.site-main
                article.hentry
                    header.entry-header
                        h1.entry-title Коротко обо мне
                    .entry-content
                        p
                            img.alignright(style='border:10px solid #f4f5f6', src='//springphoto.ru/about/about-me.jpg', alt='bg5', width='430')
                        p Привет! Я Александра Андриуца, фотограф с тремя годами опыта работы. У меня два профильных образования в области фотографии, и я владею практически всеми видами съемки. Мое основное направление - репортажная фотография, и я также работаю с детьми. Если вам нужны качественные и эмоциональные фотографии, я готов помочь!
                        h2(style='font-family: \'Herr Von Muellerhoff\';color:#ccc;font-weight:300;') Your, Alexandra Andriutsa
    