extends layout

block content
    link(rel='stylesheet' href='http://localhost:3000/stylesheets/album.css' type='text/css' media='all')
    article.portfolio.hentry
        header.entry-header
            .entry-thumbnail
                each albumItem in albums
                    img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image(width='800' height='533' src='http://localhost:3000/images/' + idAlbum + '/' + albumItem alt='p1')


